
.hero-img{
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
}
.navbar{
    box-shadow: 0 2px 8px rgba(0, 0, 0, .5);
    
}
.text-shadow {
    text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.4); 
  }
.text-indent{
    text-indent: 2rem;
}
.linear-background{
    background-image: linear-gradient(to bottom right,#0d6dfd28, #517dcf);;
}

.card-body{
    background-color: rgb(219, 219, 219);
}
.testimonials{
    background: linear-gradient(to bottom, #0d47a1 50%, #f1f1f1 50%);
    height: 600px;
    margin: 0;
}
.user-testimonials {
    text-align: center;
  }
.testimonials-images{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.test-color{
    background-color: #b6ccfe;
    color: white;
}
.create-account{
    background-image: linear-gradient(to top left,#0d6dfd28, #0d6dfdd3);
    color: white;
}

.kolor{
    color: #b6ccfe;
}
